<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>


<div class="container">
  <select #switch (change)='0'>
    <option value="1" >Opção 1</option>
    <option value="2" >Opção 2</option>
    <option value="3" >Opção 3</option>
  </select>
  
  <button class="btn btn-info" (click)='registrar(switch.value)'>Enviar valor</button>

  <div class="container" [ngSwitch]="opcoes">
    <div *ngSwitchCase="'1'">Você escolheu {{ opcoes }}</div>
    <div *ngSwitchCase="'2'">Você escolheu {{ opcoes }}</div>
    <div *ngSwitchCase="'3'">Você escolheu {{ opcoes }}</div>
    <div *ngSwitchDefault>Você escolheu nada</div>
  </div>

</div>
