<form [formGroup]="form" class="shadow p-3 mb-5 bg-red rounded mt-3" >
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name"
      formControlName="nome" [ngClass]="errorClass('nome')" >
    </div>
    <div class="col">
      <input class="form-control" placeholder="CEP"
       formControlName="cep" [ngClass]="errorClass('cep')" (blur)="buscaCep()">
    </div>
  </div>
  <button type="button" class="btn btn-outline-warning mt-3" (click)='sender()'>Teste</button>
  <button type="button" class="btn btn-outline-warning mt-3" (click)='logout()'>LOGOUT</button>
</form>

<table class="table" *ngIf="ceps$ | async as cep">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Localidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Localicazação</th>
      <td>{{cep.logradouro}}</td>
      <td>{{cep.bairro}}</td>
      <td>{{cep.localidade}}</td>
    </tr>
  </tbody>

</table>
