
<div class="container">
  <div class="container">
    <div class="row">
        <br/>
       <div class="col text-center">
      <h2>Contador</h2>
      <p>Examplo teste</p>
      </div>



    </div>
      <div class="row text-center" >
            <div class="col" data-aos="flip-right" data-aos-duration="6000">
            <div class="counter">
        <fa-icon [icon]="facode" size="lg" [spin]="true" class="icones"></fa-icon>
        <h2 class="timer count-title count-number" ></h2>
         <p class="count-text " >JAVA > PHP</p>
      </div>
            </div>
                <div class="col">
                 <div class="counter">
        <fa-icon [icon]="faCoffee" size="lg" [pulse]='true'></fa-icon>
        <h2 class="timer count-title count-number" ></h2>
        <p class="count-text ">Happy Clients</p>
      </div>
                </div>
                <div class="col">
                    <div class="counter">
        <fa-icon [icon]="faLightbulb" size="lg"></fa-icon>
        <h2 class="timer count-title count-number" ></h2>
        <p class="count-text ">Project Complete</p>
      </div></div>
                <div class="col">
                <div class="counter">
        <fa-icon [icon]="faBug" size="lg"></fa-icon>
        <h2 class="timer count-title count-number" ></h2>
        <p class="count-text ">Coffee With Clients</p>
      </div>
                </div>
           </div>
  </div>

</div>
