
<div class="container pt-5">

  <form [formGroup]="formulario">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name"
        [ngClass]="aplicaCss('nome')"
         formControlName="nome">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name"
         formControlName="sobrenome" [ngClass]="aplicaCss('sobrenome')">
      </div>
    </div>
    <div class="row">
      <div class="col pt-5">
        <input class="form-control" placeholder="email"
         formControlName="email" [ngClass]="aplicaCss('email')">
        </div>
        <div class="col pt-5">
        <span class="alert alert-danger alert-dismissible" *ngIf="this.formulario.hasError('emailDiferente')">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          ERRO EMAILS DIFFERENTES
        </span>
        <input class="form-control" placeholder="confirm email"
         formControlName="confirmaEmail" [ngClass]="aplicaCss('confirmaEmail')">
      </div>
    </div>
    <div class="row">
      <div class="col pt-2">
        <input type='string' class="form-control col-8 col-md-4" [brmasker]="{mask:'00.000-000', len:10}"
         placeholder="00000-000" formControlName="CEP" [ngClass]="aplicaCss('CEP')"
         (blur)="buscaCep()"
         >
      </div>
    </div>
    <div class="pt-2">
      <button class="btn btn-primary pt-2 col-4 col-md-5" (click)='send()'>Send</button>

    </div>
  </form>

  <table class="table" *ngIf="cep$ | async as cep">
    <thead>
      <tr>
        <th scope="col">Infos</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Bairro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{cep.logradouro}}</td>
        <td>{{cep.bairro}}</td>
      </tr>
    </tbody>
  </table>
</div>
